{% extends "base.html" %}
{% load static %}

{% block css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
{% endblock css %}
{% block title %}Home{% endblock title %}

{% block main %}
            <div class="text-center">
                <h2>Página principal</h2>
                <p>
                    Seja bem-vindo(a) <span>{{ user.username }}</span> ao Controle de Expedição. Selecione a opção que deseja abaixo:
                </p>
            </div>
        </div>
        <div id="rows"  class="row">
            <div class="col-5 col-buttons">
                <a id="button" href="{% url "report-page" %}" class="button btn btn-primary">
                    <i class="fa-solid fa-folder-open"></i>
                    Relatório
                    <div></div>
                </a>
                <a id="button" href="{% url "register-page" %}" class="button btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    Registro
                    <div></div>
                </a>
            </div>
            <div class="col-5 col-buttons">
                <a id="button" href="" class="button btn btn-primary">
                    <i class="fa-solid fa-database"></i>
                    Banco de Dados
                    <div></div>
                </a>
                <button id="button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exit-modal">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Sair
                    <div></div>
                </button>
            </div>
        </div>
        {% comment %} Modal {% endcomment %}
        <div class="modal fade" id="exit-modal" tabindex="-1" aria-labelledby="exit-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exit-modal-label">Você deseja mesmo sair?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <a id="logout-button" href="{% url "log-out" %}" class="btn btn-primary">
                            Sair
                        </a>
                </form>
                </div>
              </div>
            </div>
          </div>          
{% endblock main %}