{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
{% endblock css %}
{% block title %}Registro{% endblock title %}

{% block main %}
        <div class="text-center">
            <h2 class="mb-3">Registro</h2>
        </div>
    </div>
    <div id="rows"  class="row">
        <div class="col-5 col-buttons">
            <button id="button" class="button btn btn-primary" data-bs-target="#form-modal" data-bs-toggle="modal">
                <i class="fa-solid fa-truck-front"></i>
                Entrada de veículo
                <div></div>
            </button>
            <a id="button" href="" class="button btn btn-primary">
                <i class="fa-solid fa-truck-ramp-box"></i>
                Fim do carregamento
                <div></div>
            </a>
        </div>
        <div class="col-5 col-buttons">
            <a id="button" href="" class="button btn btn-primary">
                <i class="fa-solid fa-truck-ramp-box"></i>
                Início do carregamento
                <div></div>
            </a>
            <a id="button" class="button btn btn-primary" href="{% url "home-page" %}">
                <i class="fa-solid fa-left-long"></i>
                Voltar
                <div></div>
            </a>
        </div>
        {% comment %} Modal de Entrada de Veículos {% endcomment %}
        <div class="modal fade modal-lg" id="form-modal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="form-modal-label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="form-modal-label">Entrada</h1>
                </div>
                <div class="modal-body">
                  <form id="form_veiculos" action="." method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>                
                    <div class="modal-footer">
                      <button id="save-button" type="submit" class="btn btn-secondary">Salvar e sair</button>
                    </form>
                    <button id="logout-button" class="btn btn-primary" data-bs-target="#exit-modal" data-bs-toggle="modal">Sair</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            var value = $("#initial-id_data_lancamento").attr("value");
            $(function() {
              $("#id_data_lancamento")
              .attr("readonly", "")
              .attr("value", value)
            });

          </script>
          <div class="modal fade" id="exit-modal" aria-hidden="true" aria-labelledby="exit-modal-label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exit-modal-label">Tem certeza que deseja sair?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Sair sem salvar fará você perder os dados inseridos no formulário.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#form-modal" data-bs-toggle="modal">Voltar para o formulário</button>
                    <button id="logout-button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair mesmo assim</button>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock main %}