{% extends "base.html" %}
{% load static %}

{% block css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
{% endblock css %}
{% block title %}Relatório{% endblock title %}

{% block main %}
        <div class="text-center">
            <h2 class="mb-3">Relatório</h2>
        </div>
        {% if message %}
            <div class="alert {{class}}">
                {{message}}
            </div>
        {% endif %}
    </div>
    <div id="rows"  class="row">
        <div class="col-5 col-buttons">
            <a id="button" href="{% url "list-report-page" %}" class="button btn btn-primary">
                <i class="fa-solid fa-truck-ramp-box"></i>
                Veículos a expedir
                <div></div>
            </a>
            <a id="button" href="" class="button btn btn-primary">
                <i class="fa-solid fa-file-export"></i>
                Exportar: Veículo a expedir
                <div></div>
            </a>
        </div>
        <div class="col-5 col-buttons">
            <a id="button" href="" class="button btn btn-primary">
                <i class="fa-solid fa-file-export"></i>
                Exportar: Banco de Dados
                <div></div>
            </a>
            <a id="button" class="button btn btn-primary" href="{% url "home-page" %}">
                <i class="fa-solid fa-left-long"></i>
                Voltar
                <div></div>
            </a>
        </div>
    </div>
{% endblock main %}

