/* line 3, static/scss/main.scss */
body {
  background-image: url("/static/images/global/background.jpg?bd4fd3247dde");
  font-family: "Montserrat", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

/* line 7, static/scss/main.scss */
h1, h2, h3, h4, h5, h6, button, a, span {
  font-family: "Nunito", serif !important; }

/* line 11, static/scss/main.scss */
#main-container {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 2em;
  height: 720px;
  -webkit-box-shadow: 16px 0px 31px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 16px 0px 31px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 16px 0px 31px -4px rgba(0, 0, 0, 0.35); }
  /* line 20, static/scss/main.scss */
  #main-container #rows {
    display: flex;
    justify-content: center; }
    /* line 24, static/scss/main.scss */
    #main-container #rows .heading {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      /* line 29, static/scss/main.scss */
      #main-container #rows .heading img {
        width: 5em; }
      /* line 33, static/scss/main.scss */
      #main-container #rows .heading h1, #main-container #rows .heading i {
        font-weight: 700;
        font-size: 45px; }

/* line 43, static/scss/main.scss */
span {
  font-weight: 700; }

/* line 47, static/scss/main.scss */
.col-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1em; }

/* line 55, static/scss/main.scss */
button, #button {
  background-color: #003366 !important;
  border: none;
  font-weight: 700;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 59, static/scss/main.scss */
button:hover, #button:hover {
  background-color: #004d99; }

/* line 64, static/scss/main.scss */
.modal-dialog .modal-header {
  background-color: #f0f0f0;
  border: none; }

/* line 69, static/scss/main.scss */
.modal-dialog .modal-footer {
  background-color: #f0f0f0;
  border: none; }
  /* line 73, static/scss/main.scss */
  .modal-dialog .modal-footer button {
    background-color: #003366;
    border: none;
    font-weight: 700; }
  /* line 79, static/scss/main.scss */
  .modal-dialog .modal-footer button:hover {
    background-color: #004d99; }
  /* line 83, static/scss/main.scss */
  .modal-dialog .modal-footer #logout-button {
    background-color: #b40a0a !important; }
  /* line 87, static/scss/main.scss */
  .modal-dialog .modal-footer #logout-button:hover {
    background-color: #9e0a0a !important; }
