:root {
    --primary-color: #003366;
    --primary-color-hover: #212529;
    --primary-color-desabled: #58799b;
    --secondary-color: #4c4c4c;
    --secondary-color-hover: hsla(0,0%,100%,.75);
    --secondary-color-selected: #3a3a3a;
    --white-blue: #3c8dbc;
    --primary-background-color: #ffffff;
    --secondary-background-color: #e9ecef;
    --primary-font-color: #ffffff;
    --secondary-font-color: #a6a6a6;

    --font: "Nunito", serif;
}

body {
    background-color: var(--primary-background-color);
}

h1, h2 {
    font-family: var(--font);
}

header {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

header img {
    width: 6em;
    margin-left: 0.5em;
}

.header-container {
    padding: 1em 0; 
}

.header-container i {
    font-size: 2em;
    margin-bottom: 0.25em;
}

.main-container-login {
    background-color: var(--secondary-background-color);
    width: 400px;
    height: 360px;
    padding: 1em;
    margin: 5em auto;
    border-radius: 5px;
}

.main-container-login h2 {
    text-align: center;
}

.main-container-login form input{
    width: 100%;
    padding: 0.6em;
    border: none;
    border-radius: 5px;
}

.main-container-login form button {
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.6em;
    border: none;
    margin-top: 1em;
}

.main-container-login form button:hover {
    background-color: var(--primary-color-hover);
    border: none;
}